<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <h1>Available Friends</h1>
      <% if (locals.availableFriends) { %>
        <% availableFriends.forEach(user => { %>
          <button class="availableFriends" id=<%= user %>><%= user %></button>
        <% }); %>
      <% } %>
      <h1>Friend Requests</h1>
      <% if (locals.friendRequests) { %>
        <% friendRequests.forEach(user => { %>
          <button class="friendRequests" id=<%= user %>><%= user %></button>
        <% }); %>
      <% } %>
    </div>
    <h1>Requested Friends</h1>
      <% if (locals.requestedFriends) { %>
        <% requestedFriends.forEach(user => { %>
          <button disabled class="requestedFriends" id=<%= user %>><%= user %></button>
        <% }); %>
      <% } %>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
