<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <textarea placeholder="Drop Schedule"></textarea>
        <button id="button" type="submit">Submit</button>
        <a href="/logout">Log out</a>
        <p id="schedule">
            <% if (locals.schedule) { %>
                <%  letterDays.forEach(letterDay => { %>
                    <% const letter = letterDay[0]; %>
                    <% const letterDaySchedule = schedule[letter]; %>
                    <% if (!letterDaySchedule) { %>
                        <% return; %>
                    <% } %>
                    <h1><%= letterDay %></h1>
                    <% letterDaySchedule.forEach(course => { %>
                        <% const { period, courseTitle, classRoom, teacher } = course.course; %>
                        <% const { block, from, to } = course.time; %>
                        <p><%= period %>: <%= courseTitle %>, <%= teacher %>, <%= classRoom %></p>
                    <% }); %>
                <% }); %>
            <% } %>    
        </p>
        
    </body>
    <script src="/js/scheduler.js"></script>
</html>