<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/analytics'); -%>
        <link href="/css/header.css" type="text/css" rel="stylesheet"/>
        <link  href='/css/style.css' type="text/css" rel='stylesheet'/>
        <link  href='/css/index.css' type="text/css" rel='stylesheet'/>
        <link  href='/css/friends.css' type="text/css" rel='stylesheet'/>
        <link rel="icon" type="image/png" href="/img/bb_hub_icon.jpg">
        <link rel="shortcut icon" type="image/png" href="/img/bb_hub_icon.jpg"/>
        <link rel="apple-touch-icon" href="/img/bb_hub_icon.jpg"> 
        <link rel="manifest" href="manifest.json">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Friends - BB Hub</title>
    </head>
    <body>
        <%- include('../partials/header'); -%>
        <main>
            <% if (locals.friendRequests && friendRequests.length) { %>
                <div class="friends-divs">
                    <h1 class="title-heading">Friend Requests</h1>
                    <div class="friends-row">
                        <% friendRequests.forEach(friend => { %>
                            <a href="/users/<%= friend.id %>" class="friends-section">
                                <div class="friends-header">
                                    <% if (friend.picture) { %>
                                        <img class="friends-image" alt="Image" src=<%= friend.picture %>>
                                    <% } %>
                                </div>
                                <div class="friends-body">
                                    <h1 class="friends-name"><%= friend.name %></h1>
                                    <button class="accept-friend-button" name="<%= friend.name %>">Accept</button>
                                    <button class="decline-friend-button" name="<%= friend.name %>">Decline</button>
                                </div>
                            </a>
                        <% }); %>
                    </div>
                </div>
            <% } %>
            <% if (locals.friends && friends.length) { %>
                <div class="friends-divs">
                    <h1 class="title-heading">Friends</h1>
                    <div class="friends-row">
                        <% friends.forEach(friend => { %>
                            <a href="/users/<%= friend.id %>" class="friends-section">
                                <div class="friends-header">
                                    <% if (friend.picture) { %>
                                        <img class="friends-image" alt="Image" src=<%= friend.picture %>>
                                    <% } %>
                                    <h1 class="friends-name"><%= friend.name %></h1>
                                </div>
                            </a>
                        <% }); %>
                    </div>
                </div>
            <% } %>
            <% if ((locals.requestedFriends && requestedFriends.length) || (locals.availableFriends && availableFriends.length)) { %>
                <div class="friends-divs">
                    <% if (locals.availableFriends && availableFriends.length) { %>
                        <% availableFriends.forEach(entry => { %>
                            <% const { grade, friends } = entry; %>
                            <% if (friends.length) { %>
                                <div class="friends-grade">
                                    <% if (grade === 'Unknown') { %>
                                        <h1 class="title-heading">Unknown grade</h1>
                                    <% } else { %>
                                        <h1 class="title-heading"><%= grade %>th grade</h1>
                                    <% } %>
                                    <div class="friends-row">
                                        <% friends.forEach(friend => { %>
                                            <a href="/users/<%= friend.id %>" class="friends-section">
                                                <div class="friends-header">
                                                <% if (friend.picture) { %>
                                                    <img class="friends-image" alt="Image" src=<%= friend.picture %>>
                                                <% } %>
                                                <h1 class="friends-name"><%= friend.name %></h1>
                                                </div>
                                                <div class="friends-body">
                                                    <% if (friend.availableFriend) { %>
                                                        <button class="add-friend-button" name="<%= friend.name %>">Add Friend</button>
                                                    <% } else { %>
                                                        <button class="cancel-request-button" name="<%= friend.name %>">Cancel Request</button>
                                                    <% } %>
                                                </div>
                                            </a>
                                        <% }); %>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div>
            <% } %>
        </main>
    </body>
    <script src="/js/friends.js"></script>
</html>