<!DOCTYPE html>
<html>
    <head>
        <title>Schedule</title>
        <link  href='/css/style.css' type="text/css" rel='stylesheet'/>
        <link href="/css/header.css" type="text/css" rel="stylesheet">
        <link rel='stylesheet' href='/css/schedule.css' />
    </head>
    <body>
        <%- include('../partials/header'); -%>
        <main>
            <textarea placeholder="Drop Schedule"></textarea>
            <button id="submit" type="submit">Submit</button>
            <a href="/">Home</a>
            <a href="/logout">Log out</a>
            <% if (locals.users) { %>
                <% users.forEach(user => { %>
                    <button id="<%= user %>" class="users"><%= user %></button>
                <% }); %>
            <% } %>
            <p id="shared-courses"></p>
            <div id="column">
                <div id="main-schedule">
                    <% if (locals.schedule) { %>
                        <%  letterDays.forEach(letterDay => { %>
                            <% const letter = letterDay[0]; %>
                            <% const letterDaySchedule = schedule[letter]; %>
                            <% if (!letterDaySchedule) { %>
                                <% return; %>
                            <% } %>
                            <% const noSchool = !letterDay.substring(0, 5).match(/^[A-H] Day$/) || letterDaySchedule.find(course => !course.course); %>
                            <% if (noSchool) { %>
                                <% return; %>
                            <% } %>
                            <h1><%= letterDay %></h1>
                            <% letterDaySchedule.forEach(course => { %>
                                <% const { period, courseTitle, classRoom, teacher } = course.course; %>
                                <% const { block, from, to } = course.time; %>
                                <p><%= period %>: <%= courseTitle %>, <%= teacher %>, <%= classRoom %></p>
                            <% }); %>
                        <% }); %>
                    <% } %> 
                </div>
                <div id="schedule">
                </div>
            </div>
        </main>
    </body>
    <script src="/js/schedule.js"></script>
</html>