<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" type="text/css" rel="stylesheet"/>
        <link href="/css/header.css" type="text/css" rel="stylesheet"/>
        <link href='/css/schedule.css' type="text/css" rel="stylesheet"/>
        <link href="/css/users.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <%- include('../partials/header'); -%>
        <main>
            <div class="user-profile-div">
                <div class="user-profile-header">
                    <img class="user-profile-image" alt="profile-photo" src="<%= userPicture %>">
                    <div class="user-profile-header-info">
                        <h1 class="user-profile-name"><%= userName %></h1>
                        <h1 class="user-profile-info">Class of 2023</h1>
                    </div>
                </div>
                <div class="user-profile-body">
                    <% if (locals.userSchedule && userSchedule.length) { %>
                        <section class="schedule-section">
                            <h1 id="my-schedule">Schedule</h1>
                            <div class="schedule-section-body" class="section-body">
                                <% userSchedule.forEach(course => { %>
                                    <% if (sharedCourses.includes(course.courseTitle)) { %>
                                        <div class="detail-section shared-course">
                                    <% } else { %>
                                        <div class="detail-section">
                                    <% } %>
                                    <h1 class="detail-title"><%= course.courseTitle %></h1>
                                    <div class="detail-body-info">
                                        <% if (course.courseTitle.substring(0, 4) === 'FREE') { %>
                                            <p class="detail-body">Period <%= course.period %></p>
                                        <% } else { %>
                                            <p class="detail-body">Period <%= course.period %> · <%= course.teacher %> · <%= course.classRoom %></p>
                                        <% } %>
                                    </div>
                                </div>
                            <% }); %>
                            <% if (userId.toString() === id.toString()) { %>
                                <button class="edit-schedule schedule-button" href="/schedule/table-schedule">Edit Schedule</button>
                            <% } %>
                        </section>
                    <% } %>
                    <div class="column">
                        <% if (clubs.length) { %>
                            <section class="clubs-section">
                                <div>
                                    <h1 id="my-schedule">Clubs</h1>
                                </div>
                                <div class="club-section-body" class="section-body">
                                    <% clubs.forEach(club => { %>
                                        <div class="club-div">
                                            <div class="club-icon"><%= club[0] %></div>
                                            <p class="club-name"><%= club %></p>
                                        </div>
                                    <% }); %>
                                </div>
                            </section>
                        <% } %>
                        <% if (sports.length) { %>
                            <section class="sports-section">
                                <div>
                                    <h1 id="my-schedule">Sports</h1>
                                </div>
                                <div class="sports-section-body" class="section-body">
                                    <% sports.forEach(sport => { %>
                                        <div class="sports-div">
                                            <div class="sports-icon"><%= sport[0] %></div>
                                            <p class="sports-name"><%= sport %></p>
                                        </div>
                                    <% }); %>
                                </div>
                            </section>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="/js/lunch.js"></script>
</html>